/* STYLE SECTIONING TAGS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;

}


body {
  font-family: "Poppins", sans-serif;
  margin: 2em;
  background-color: #4C7BC1;
  
}

/* STYLE TEXT */
header {
  text-align: center;
}
h1 {
  font-style: bold;
  color: #000;
  text-align: center;
}

h2 {
  margin-top: 2em; 
  text-align: center;
}

main {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center; 
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  /* justify-content: center; */
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

/* STYLE IMAGES */
.answer-choice img {
  width:300px;
  height:300px;
  object-fit:cover;
}

.friends {
  margin-left: 35px;
}

.books {
  margin-left: 47px;
}

.crowds {
  margin-left: 34px;
}

.failure {
  margin-left: 46px;
}


/* STYLE BUTTON */




#result {
  color: #000;
  font-size: 30px;
  font-weight:700;
  margin-bottom: 2em;
}

/* CSS */
button{
  background-color: #D61F27;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #A91309;
}

button:active {
  box-shadow: #000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

#q2a1 {
  margin-left: 30px;
}

#q2a2 {
  margin-left: 40px;
}

#q3a1 {
  margin-left: 30px;
}

#q3a2 {
  margin-left: 40px;
}